<%- include('header') %>
<div class="container-fluid">
    <h2 class="text-secondary mt-1">Pesquisou Por <strong><%=Category[0].name%></strong></h2>
    <div class="row justify-content-center">
        <% Products.forEach((product)=>{%>
            <a href="/products/product/<%= product.id %>" class="card ml-2 mb-2 float-left bg-dark" id="product_category">
                <img src="<%= process.env.PATH_IMAGE+product.image_url[0].url%>" class="card-img-top">
                <div class="card-body bg-dark">
                    <% if(product.is_new===1){ %>
                        <div class="is_new">Novo</div>
                    <%}%>
                    <% if(product.promotion===1){ %>
                        <div class="promotion"><%=
                            100-((product.price*100)/product.old_price)
                        %>%</div>
                    <%}%>
                    <% if(product.bestseller===1){ %>
                        <div class="bestseller">Bestseller</div>
                    <%}%>
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text mb-5 text-limit"><%= product.descricao %></p>
                    <div class="d-flex justify-content-between">
                        <% if(product.old_price != null){ %>
                            <strong class="text-secondary" style="text-decoration: line-through;font-size: 25px;">$R$ <%= product.old_price%></strong>
                        <%}%>
                        <strong style="font-size: 25px;">R$ <%= product.price%></strong>
                    </div>
                </div>
            </a>
        <%})%>
    </div>
</div>