<%- include('header') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-secondary"><%=Product[0].name%></h1>
                <div class="conteudo bg-light">
                    <div class="produto">
                        <img id="produto_origin" class="w-100" src="<%=process.env.PATH_IMAGE+Product[0].image_url[0].url%>"/>
                    </div>
                    <div class="info">
                        <div class="preços d-flex justify-content-between">
                            <% if(Product[0].promotion===1){ %>
                                <h4 class="text-secondary" style="text-decoration: line-through;">De:R$ <%=Product[0].old_price%></h4>
                            <%}%>
                            <h4 class="text-secondary">Por:R$ <%=Product[0].price%></h4>
                        </div>
                        <div class="images">
                            <%Product[0].image_url.forEach(image=>{%>
                                <img class="mini-img" src="<%=process.env.PATH_IMAGE+image.url%>"/>
                            <%})%>
                        </div>
                        <div class="descricao">
                            <h4 class="text-secondary"><strong>Marca:</strong><%=Branch[0].name%></h4>
                            <h4 class="text-secondary"><strong>Categoria:</strong><%=Category[0].name%></h4>
                            <h4 class="text-secondary"><strong>Estoque:</strong><%=Product[0].quantity%></h4>
                        </div>
                        <div class="cards-accepts">
                            <img src="/assets/cards/visa.png" class="card-width">
                            <img src="/assets/cards/mastercard.png" class="card-width">
                            <img src="/assets/cards/AmericanExpress.png" class="card-width">
                            <img src="/assets/cards/elo.png" class="card-width">
                            <img src="/assets/cards/hipercard.png" class="card-width">
                        </div>
                        <div class="quantidade">
                            <input class="form-control" placeholder="Quantidade" type="number" id="quantity" min="1" max="<%=Product[0].quantity%>" value="1">
                        </div>
                        <div class="info-pessoais d-flex">
                            <input type="text" class="form-control" placeholder="CEP" id="cep">
                            <button class="btn btn-dark" id="calcularFrete">Calcular</button>
                        </div>
                        <div class="frete-information">
                            <div class="frete">
                                <h5><strong>Frete</strong></h5>
                                <strong class="d-flex" style="float: left;margin-right: 10px;">
                                    <ion-icon name="cash-outline" style="font-size: 30px;"></ion-icon>
                                    <p id="valFrete"></p>
                                </strong>
                                <strong class="d-flex">
                                    <ion-icon name="car-outline" style="font-size: 30px;"></ion-icon>
                                    <p id="valDias"></p>
                                </strong>
                            </div>
                        </div>
                        <form action="/cart/add" class="actions d-flex" method="POST">
                            <input type="hidden" value="<%=Product[0].id%>" name="productID" id='productID'>
                            <input type="hidden" name="quantityProduct" id="quantityProduct" value="1">
                            <a href="/pagamento/pagar" class="btn btn-lg btn-success w-75 align-self-center" style="font-size: 40px;">Comprar</a>
                            <button class="btn-lg w-25 bg-dark align-self-center" type="submit"><ion-icon style="font-size: 50px;" name="cart-outline"></ion-icon></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <%if(Features.length>0){%>
                    <table class="table mt-5 mb-5 table-hover">
                        <thead class="thead-dark">
                            <th>Caracteristicas</th>
                            <th>Info</th>
                        </thead>
                        <tbody class="bg-success">
                            <%Features.forEach(fet=>{%>
                                <tr>
                                    <td><%=fet.name%></td>
                                    <td><%=fet.value%></td>
                                </tr>
                            <%})%>
                        </tbody>
                    </table>
                <%}%>

                <div class="descriptions" style="clear: both;">
                    <h4 class="text-secondary text-description mt-5"><strong>Descricao:</strong><%=Product[0].descricao%></h4>
                </div>
            </div>
            <div class="col-sm-12 mt-5">
                <div class="comments">
                    <%if(Product[0].comments.length>0){%>
                        <h1>Comentarios</h1>
                        <div>
                            <form action="/products/comment/<%=Product[0].id%>" method="post" class="form-group d-flex">
                                <textarea placeholder="Dê sua opinião" class="form-control form-comment" name="comment"></textarea>
                                <button class="btn btn-success btn-lg buttom-comment" type="submit">Enviar</button>
                            </form>
                        </div>
                        <div class="list-group">
                            <%Product[0].comments.forEach(comment=>{%>
                                <div class="list-group-item mb-1">
                                    <div class="body-comment">
                                        <ion-icon name="person-circle-outline" style="font-size: 50px;"></ion-icon>
                                        <h4><%=comment.username%></h4>
                                        <p style="word-wrap: break-word;"><%=comment.body%></p>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                    <%}else{%>
                        <h1 class="text-dark">Não há Comentarios</h1>
                        <form action="/products/comment/<%=Product[0].id%>" method="post" class="form-group d-flex">
                            <textarea placeholder="Dê sua opinião" class="form-control form-comment" name="comment"></textarea>
                            <button class="btn btn-success buttom-comment" type="submit">Enviar</button>
                        </form>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
<%- include('footer') %>